################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Visual Studio cache
.vs/

# Build artifacts
packages/
[Bb]in/
[Oo]bj/